################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Subur.Goods.Delivery/FileContentIndex/024c0e52-161c-4d4d-ac0f-9493b78c8386.vsidx
/.vs/Subur.Goods.Delivery/FileContentIndex/19ed4c96-d5fc-404d-8d21-c948b7835a6e.vsidx
/.vs/Subur.Goods.Delivery/FileContentIndex/43434cf2-fb99-45a5-a87b-5bbedb1e1662.vsidx
/.vs/Subur.Goods.Delivery/FileContentIndex/5372698d-98c8-48a1-a9c8-14e318c2fb19.vsidx
/.vs/Subur.Goods.Delivery/FileContentIndex/5b3e8cbd-ed24-4d78-bb76-ab02277fc1e2.vsidx
/.vs/Subur.Goods.Delivery/FileContentIndex/74611bd5-b723-4f59-8edb-b8db2d76c7fd.vsidx
/.vs/Subur.Goods.Delivery/FileContentIndex/7d3a21e0-c054-4d57-9da1-9c11a1e3f914.vsidx
/.vs/Subur.Goods.Delivery/FileContentIndex/9639817d-3fc6-4f95-a43a-d19f5e162b88.vsidx
/.vs/Subur.Goods.Delivery/FileContentIndex/a3279375-bf75-488a-a12d-d81822f929c4.vsidx
/.vs/Subur.Goods.Delivery/FileContentIndex/d2dcf0f8-ee5a-41b1-97ab-b09828bb0a02.vsidx
